// COLORS
$white: #ffffff;
$black: #000000;
$main-color: #7ddd5c; 
$light-color: #f2f2f0;
$light-text: #b4b5b4;


// -- OTHERS 

$breakpoints: (
    'sm': (min-width: 576px),
    'md': (min-width: 768px),
    'lg': (min-width: 992px),
    'xl': (min-width: 1200px)
);
